header {
    display: flex;
    background-color: var(--clr-success);
    height: 2rem;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    color: white;

    a {
        padding: 1rem;
        border-radius: 4px;
    }

    a:hover {
        background-color: var(--clr-primary);
    }
}
